

body {
	background-color: #6ED8BA;
}



.frame {
	margin: 30px 150px;
	display: flex;
	flex-direction: column;
}



/*navigatoer*/


.navigator {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}


li {
	display: inline;
	align-self: center;
	margin: 0;
	margin-left: 15px;
}


ul{
	margin: 0;
}


.site-name {
	margin: 0;
	font-family: 'montsrrat', sans-serif;
	font-size: 20px;
}

.nav-menu {
	font-family: 'montsrrat', sans-serif;
	font-weight: 400;
	font-size: 15px;
}


a{
	color: grey;
	text-decoration: none;
}


a:hover{
	color: white;
	transition: 0.3s;
}


/* dashboard */

.dashboard{
	display: flex;
	flex-direction: column;
	margin-top: 100px;
}

.comment-1{
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 500;
	font-size: 50px;
}

.sample {
	background-color: greenyellow;
}


.comment-2{
	font-family: 'Montserrat', sans-serif;
	font-weight: 100;
	font-size: 20px;
	font-style: italic;

	letter-spacing: -0.5px;
}



/* recent works */

.recent-menu{
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	font-weight: 700;

	text-align: right;
	margin-top: 100px;
}


/*footer*/
.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 100px;
}

.contact {
	font-family: 'Montserrat', sans-serif;
	font-size: 50px;
	font-weight: 700;

	color: grey;
	border-top: 1px solid grey;
	margin-bottom: 40px;

	border-bottom: 1px solid grey;
}


.links>a{
	font-family: 'Montserrat', sans-serif;
	color: black;
	font-size: 30px;
	font-weight: 300;
	margin-left: 15px;

}

.links>a:hover{
	color: white;
}




.footer>p{
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 100;
	color: black;
	font-size: 15px;
	margin: 0;
	margin-top: 5px;
}
겠




/* webprogramming */

/* profile-section */


.profile-section{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;

	margin: 100px 100px;
}


#profile-picture {
	width: 400px;
	margin-right: 60px;
	margin-top: 100px;

}



.introduction{
	display: inline-block;

}



.introduction>h2{
	margin: 0px;
	font-family: 'Montserrat', sans-serif;
	font-size: 35px;
}

.introduction>p{
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 16px;
	margin-bottom: 40px;
}


#capability {
	font-family: 'Montserrat', sans-serif;
	font-weight: 100;
	font-size: 20px;
	font-style: italic;
	line-height: 30px;
}



/* value section */

.value-menu {
	font-family: 'Montserrat', sans-serif;
	font-size: 35px;
	margin: 30px 100px;
}


.value-section{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: center;
	margin: 100px 150px;
	margin-top: 20px;
}


.value {
	display: flex;
	flex-direction: row;
	margin-bottom: 40px;
	align-items: center;
}


.value-icon {
	width: 100px;
	height: 100px;
	padding: 15px;
	border: 2px solid white;
	border-radius: 30px;
}



.value-intro {
	margin-left: 30px;
}



.value-name{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	margin-top: 0px;
	margin-bottom: 5px;
}




.value-exp{
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 16px;
	margin: 0px;
}

